extends ../layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  a(href="/locale_accounts") Back

  form(action="./edit" method="POST" class="form-registration")
    label(for="name") Name:
    input(
      type="text"
      id="name"
      name="name"
      class="form-control"
      value=data.name
      readonly=true
    )

    div(class="row")
      div(class="col-12")
        table.table.table-striped.table-hover
          thead.thead-light
            tr.d-flex
              th(class="col-12") Month
          tbody
          each monthly_collection, index in data.monthly_collections
            tr.d-flex
              td(class="col-6")
                a(href='monthly_collections/' + monthly_collection._id + '/edit')= monthly_collection.month

    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )